<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sidebar ← CSS 레이아웃</title>
  <link rel="stylesheet" href="../../../common/normalize.css" />
  <link rel="stylesheet" href="../../../common/userReset.css" />
  <link rel="stylesheet" href="./layout.css" />
</head>

<body>
  <!-- <div class="container floatMode floatMode--liquid"> -->
  <!-- <div class="container flexMode"> -->
  <div class="container gridMode">
    <div class="item item--1">
      <div class="item__p">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur placeat nisi ex deleniti at tempore. <br />
        <br />
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur placeat nisi ex deleniti at tempore.
      </div>
    </div>
    <div class="item item--2">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem voluptas quia dicta itaque. Modi consectetur suscipit, voluptate similique itaque porro vel illo ipsum commodi at! Fuga praesentium doloremque ea possimus asperiores a saepe facere velit illo! Magnam, error. Excepturi eius, recusandae dolorem necessitatibus, animi non laboriosam nam aliquid fugit, porro voluptatem. Odit repudiandae dignissimos explicabo aperiam deserunt vel. Perferendis, quod? Voluptatum eveniet debitis sit facere non quam minima quasi ad deleniti deserunt doloremque enim voluptates, nobis natus! Nostrum, sit beatae vel est autem excepturi aut qui, nam voluptate optio eveniet repellendus odit facere aliquid. Tenetur numquam officiis sed optio quibusdam.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem voluptas quia dicta itaque. Modi consectetur suscipit, voluptate similique itaque porro vel illo ipsum commodi at! Fuga praesentium doloremque ea possimus asperiores a saepe facere velit illo! Magnam, error. Excepturi eius, recusandae dolorem necessitatibus, animi non laboriosam nam aliquid fugit, porro voluptatem. Odit repudiandae dignissimos explicabo aperiam deserunt vel. Perferendis, quod? Voluptatum eveniet debitis sit facere non quam minima quasi ad deleniti deserunt doloremque enim voluptates, nobis natus! Nostrum, sit beatae vel est autem excepturi aut qui, nam voluptate optio eveniet repellendus odit facere aliquid. Tenetur numquam officiis sed optio quibusdam.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem voluptas quia dicta itaque. Modi consectetur suscipit, voluptate similique itaque porro vel illo ipsum commodi at! Fuga praesentium doloremque ea possimus asperiores a saepe facere velit illo! Magnam, error. Excepturi eius, recusandae dolorem necessitatibus, animi non laboriosam nam aliquid fugit, porro voluptatem. Odit repudiandae dignissimos explicabo aperiam deserunt vel. Perferendis, quod? Voluptatum eveniet debitis sit facere non quam minima quasi ad deleniti deserunt doloremque enim voluptates, nobis natus! Nostrum, sit beatae vel est autem excepturi aut qui, nam voluptate optio eveniet repellendus odit facere aliquid. Tenetur numquam officiis sed optio quibusdam.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem voluptas quia dicta itaque. Modi consectetur suscipit, voluptate similique itaque porro vel illo ipsum commodi at! Fuga praesentium doloremque ea possimus asperiores a saepe facere velit illo! Magnam, error. Excepturi eius, recusandae dolorem necessitatibus, animi non laboriosam nam aliquid fugit, porro voluptatem. Odit repudiandae dignissimos explicabo aperiam deserunt vel. Perferendis, quod? Voluptatum eveniet debitis sit facere non quam minima quasi ad deleniti deserunt doloremque enim voluptates, nobis natus! Nostrum, sit beatae vel est autem excepturi aut qui, nam voluptate optio eveniet repellendus odit facere aliquid. Tenetur numquam officiis sed optio quibusdam.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem voluptas quia dicta itaque. Modi consectetur suscipit, voluptate similique itaque porro vel illo ipsum commodi at! Fuga praesentium doloremque ea possimus asperiores a saepe facere velit illo! Magnam, error. Excepturi eius, recusandae dolorem necessitatibus, animi non laboriosam nam aliquid fugit, porro voluptatem. Odit repudiandae dignissimos explicabo aperiam deserunt vel. Perferendis, quod? Voluptatum eveniet debitis sit facere non quam minima quasi ad deleniti deserunt doloremque enim voluptates, nobis natus! Nostrum, sit beatae vel est autem excepturi aut qui, nam voluptate optio eveniet repellendus odit facere aliquid. Tenetur numquam officiis sed optio quibusdam.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse eos quibusdam veritatis sed quis assumenda officia, eum aliquam beatae nobis optio porro molestiae ea iusto iste! Ut ea mollitia iste fugit totam repellat, rerum quos libero nobis vitae perspiciatis doloremque molestias aliquam aliquid, voluptates sed maiores optio quis laborum laudantium.</p>
    </div>
  </div>
</body>

</html>