<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Holy grail ← CSS 레이아웃</title>
  <link rel="stylesheet" href="../../../common/normalize.css" />
  <link rel="stylesheet" href="../../../common/userReset.css" />
  <link rel="stylesheet" href="./layout.css" />
</head>
<body>
  <header>Holy grail Layout</header>
  <!-- <main class="container floatMode floatMode--liquid"> -->
  <!-- <main class="container flexMode"> -->
  <main class="container gridMode">
    <div class="item item--1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum consequuntur porro, delectus deleniti ex impedit!</div>
    <div class="item item--2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero doloremque officia sit laborum, in, nisi alias rerum voluptas commodi maxime exercitationem, hic perferendis eligendi quod cum atque a obcaecati! Excepturi officiis doloribus velit ea, cupiditate unde voluptatibus deserunt assumenda consequatur explicabo commodi laudantium soluta nisi pariatur aperiam eos delectus alias aliquam nihil quo earum. Blanditiis beatae, earum aliquid laboriosam saepe omnis est ratione ad vero dolor quia ab quaerat voluptates id aspernatur voluptatem. Ex molestias sapiente dolorem atque similique incidunt consequatur quisquam, officia suscipit, quos, praesentium odio repellendus hic assumenda commodi corrupti qui perferendis inventore eum. Reiciendis laudantium iste non!</div>
    <div class="item item--3">Lorem ipsum dolor sit amet.</div>
  </main>
  <footer>footer section</footer>
</body>
</html>