<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Same height columns ← CSS 레이아웃</title>
  <link rel="stylesheet" href="../../../common/normalize.css" />
  <link rel="stylesheet" href="../../../common/userReset.css" />
  <link rel="stylesheet" href="./layout.css" />
</head>

<body>
  <!-- <div class="container floatMode floatMode--liquid"> -->
  <!-- <div class="container flexMode"> -->
  <div class="container gridMode">
    <figure class="item item--1">
      <img src="./assets/card-01.jpg" alt="" />
      <h1>lovely choice</h1>
      <figcaption>The lovely colden dress, Much Obliged Golden Yellow Wrap Dress</figcaption>
      <button type="button">바로가기</button>
    </figure>
    <figure class="item item--2">
      <img src="./assets/card-02.jpg" alt="" />
      <h1>Old School</h1>
      <figcaption>The lovely colden dress, Much Obliged Golden Yellow Wrap Dress</figcaption>
      <button type="button">바로가기</button>
    </figure>
    <figure class="item item--3">
      <img src="./assets/card-03.jpg" alt="" />
      <h1>Made For You</h1>
      <figcaption>The lovely colden dress, Much Obliged Golden Yellow Wrap Dress</figcaption>
      <button type="button">바로가기</button>
    </figure>
  </div>
</body>

</html>