<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>카드 레이아웃 ← CSS 레이아웃</title>
  <link rel="stylesheet" href="../../../common/normalize.css" />
  <link rel="stylesheet" href="../../../common/userReset.css" />
  <link rel="stylesheet" href="../../../common/typography.css" />
  <link rel="stylesheet" href="./layout.css" />
</head>
<body>

  <div class="box" style="background: gray" hidden>
    <div class="box-item" style="width: 100px; height: 30px; background: red">01</div>
    <div class="box-item" style="width: 100px; height: 30px; background: green">02</div>
    <div class="box-item" style="width: 100px; height: 30px; background: blue">03</div>
  </div>

  <div class="container floatMode floatMode--liquid">
    <!-- ::before -->
    <div class="item item--1">01</div>
    <div class="item item--2">02</div>
    <div class="item item--3">03</div>
    <div class="item item--4">04</div>
    <div class="item item--5">05</div>
    <div class="item item--6">06</div>
    <div class="item item--7">07</div>
    <div class="item item--8">08</div>
    <div class="item item--9">09</div>
    <div class="item item--10">10</div>
    <!-- ::after -->
  </div>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae libero ipsam dolores temporibus, tempora quisquam quas aliquam, magni et dolorem alias ad voluptate ipsum doloremque eius facilis labore reiciendis repudiandae!</p>
  
</body>
</html>