@import "../config";
@import "../modules/mixins";

.photoGallery {
  @include size( 1120px, 667px);
  display: flex;

  &__title {
    @include a11yHidden();
  }

  &__bigPhoto {
    @include size(1000px, 668px);
    position: relative;
    margin: 0 10px 0 0;
  }

  &__bigPhotoTitle {
    @include absolute(top 30px left 30px);
    margin: 0;
    color: $white;
    font: 700 0.875rem/1 SpoqaHanSans;
  }

  &__bigPhotoCaption {
    @include absolute(z-index 100 left 50% bottom 27px);
    transform: translateX(-50%);
    border-radius: 50px;
    padding: 0.625em 8em;
    background: $black;
    color: $white;
    font: 700 1rem/1 SpoqaHanSans;
    text-align: center;
  }

  &__controls {
    @include resetList();
    order: 1;
  }

  &__button {
    @include resetButton();
    margin-bottom: 10px;
    transition: all 0.2s ease-in-out;

    img {
      display: block;
      @include resetImage();
      filter: saturate(0%);
      transition: all 0.45s ease-in-out;
    }

    &:hover {
      img {
        filter: saturate(100%);
      }
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 4px rgba($button-focused, 0.4);

      &:not(:focus-visible) {
        box-shadow: none;
      }
    }

    &:focus-visible {
      box-shadow: 0 0 0 4px rgba($button-focused, 0.4);
    }

    &--active {
      box-shadow: 0 0 0 4px $button-active;
      border-color: $button-active;

      img {
        filter: saturate(100%);
      }
    }
  }
}
