/* -------------- 기본 레이아웃 구성*/
body {
  margin: 5rem;
}

.container {
  width: 120rem;
  margin-left: auto;
  margin-right: auto;
  border: solid 3px #111111;
}

.container .item {
  /* width: 20rem; */
  height: 8rem;
  margin: 1rem;
  background-color: rgb(169, 209, 211);
}

/* -------------- floatMode*/

.floatMode::after {
  content: '';
  display: block;
  clear: both;
}

.floatMode .item {
  float: left;
  text-align: center;
  line-height: 8rem;
  color: #ffffff;
}

.floatMode--liquid .item {
  width: 23.3333%;
  margin: 0.8333%;
}

/* -------------- flexMode */

.flexMode {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  /* justify-content: center; */
}

.flexMode .item {
  flex: 0 0 calc(100% / 4 - (1rem * 2));
  text-align: center;
  line-height: 8rem;
}

/* -------------- gridMode */

.gridMode {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.gridMode .item {
  text-align: center;
  line-height: 8rem;
}